* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 400px;
    display:flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
}

span {
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header {
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    color: #fff;
    font-size:small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}


.input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}

material-icons  {
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

.submit {
    border: none;
    border-radius: 30px;
    outline: none;
    height: 45px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

